<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{movieList.title}}</h1>
    <img class="rounded mb-4" src="https://movie-list.alphacamp.io/posters/{{movieList.image}}" alt="Card image cap"
      style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <p class="text-secondary mb-1">
        <strong>release date:</strong>
        {{movieList.release_date}}
      </p>
      <p>
        {{movieList.description}}
      </p>
    </div>
  </div>
</div>